#jumbotron{
    padding-top: 6rem;
    background-color:#D7C0AE;
}

#about {
    padding-top: 6rem;
}

#product {
    padding-top: 15rem;
    background-color: #B7C4CF;
}

.footer {
    padding-top: 5rem;
    background-color: ;rgb(250, 239, 203);
}